Functionalities of Data Objects in Python

1. Head()

Returns-1st n rows of DS n no specified as an argument to head function

In [1]:
import pandas as pd
import numpy as np
df=pd.Series(np.arange(1,51))
print (df.head(6))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

Tail()

Returns-last n rows of DS n no specified as an argument to tail function

In [2]:
import pandas as pd
import numpy as np
df=pd.Series(np.arange(1,51))
print (df.tail(6))

44    45
45    46
46    47
47    48
48    49
49    50
dtype: int32

3. values()

Returns- actual D in the series of the array

In [3]:
import pandas as pd
import numpy as np
df=pd.Series(np.arange(1,51))
print (df.values)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

4. groupby()

group the DF acco. given condition

5. Concatenation

Combines 2 or more DS

In [4]:
#axis=1-two Dsets combined using columns
import pandas as pd
world_champions= {'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],'ICC_rank':[2,3,7,8,4],'World_champions_Year':[2011,2015,1979,1992,1996],'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pd.DataFrame(world_champions)
df2=pd.DataFrame(chokers)
print(pd.concat([df1,df2],axis=1))

          Team  ICC_rank  World_champions_Year  Points          Team  \
0        India         2                  2011     874  South Africa
1    Australia         3                  2015     787   New Zealand
2  West Indies         7                  1979     753      Zimbabwe
3     Pakistan         8                  1992     673           NaN
4    Sri Lanka         4                  1996     855           NaN

   ICC_rank  Points
0       1.0   895.0
1       5.0   764.0
2       9.0   656.0
3       NaN     NaN
4       NaN     NaN

6. Merging

Similer to concatenation but need to have a common column between two or more Dsets or tables Merging is performed using Dbase joins, whereas concatenation combines two or more DFs that do not have any rlsnsp

In [5]:
#team is common column
import pandas as pd
champion_stats= {'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],'ICC_rank':[2,3,7,8,4],'World_champions_Year':[2011,2015,1979,1992,1996],'Points':[874,787,753,673,855]}
match_stats={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],'World_cup_played':[11,10,11,9,8],'ODIs_played':[733,988,712,679,662]}
df1=pd.DataFrame(champion_stats)
df2=pd.DataFrame(match_stats)
print (df1)
print (df2)
print(pd.merge(df1,df2,on='Team'))

          Team  ICC_rank  World_champions_Year  Points
0        India         2                  2011     874
1    Australia         3                  2015     787
2  West Indies         7                  1979     753
3     Pakistan         8                  1992     673
4    Sri Lanka         4                  1996     855
          Team  World_cup_played  ODIs_played
0        India                11          733
1    Australia                10          988
2  West Indies                11          712
3     Pakistan                 9          679
4    Sri Lanka                 8          662
          Team  ICC_rank  World_champions_Year  Points  World_cup_played  \
0        India         2                  2011     874                11
1    Australia         3                  2015     787                10
2  West Indies         7                  1979     753                11
3     Pakistan         8                  1992     673                 9
4    Sri Lanka         4                  1996     855                 8

   ODIs_played
0          733
1          988
2          712
3          679
4          662